<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <add key="ErrorLogPath" value="~/App_Data/errors.log" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <!--
      SQL Server database used by the whole website.
        - Server     : (localdb)\MSSQLLocalDB  (SQL Server LocalDB instance)
        - Database   : CareerSkillHub
        - Database file created by the script  Database\SQL Query\CareerSkillHub_Queries.sql
        - All pages connect through DbHelper -> this connection string.
    -->
    <add name="CareerSkillHubConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CareerSkillHub;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <!--
      Page ClientIDMode is set per-page for the few pages whose inline
      JavaScript relies on static control IDs (Login, Register).
      The default (Predictable) is used everywhere else so that repeated
      controls inside Repeaters keep unique IDs.
    -->
    <pages enableViewStateMac="false" validateRequest="false" />
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>